@model DogSelector.Models.Dog

@{
    Layout = null;
}
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Results</title>
</head>
<body>
    <div class="page-header text-center">
        <h1>@Model.DisplayName!<small> Is this the dog for you?</small></h1>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <img src="/Content/Images/@Model.ImageName" class="img-responsive"/>
        </div>
        <div class="col-md-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-6">Activity Level:</td>
                        <td>@Model.ActivityLevel</td>
                    </tr>
                    <tr>
                        <td>Shedding Level</td>
                        <td>@Model.SheddingLevel</td>
                    </tr>
                    <tr>
                        <td>Grooming Level</td>
                        <td>@Model.GroomingLevel</td>
                    </tr>
                    <tr>
                        <td>Intelligence Level</td>
                        <td>@Model.IntelligenceLevel</td>
                    </tr>
                    <tr>
                        <td>Good With Children</td>
                        <td>@Model.GoodWithChildren</td>
                    </tr>
                    <tr>
                        <td>Drools</td>
                        <td>@Model.Drools</td>
                    </tr>
                    <tr>
                        <td>Coat Length</td>
                        <td>@Model.Coatlength</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>@Model.Size</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3"></div>
        <form>
            <button type="submit" class="btn btn-primary">Back to dog picker</button>
        </form>
</body>
</html>
