@model DogSelector.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DogRecommendation</title>
</head>
<body>
    <div> 
        <h1>Requested Dog:</h1>
        <p>Breed Name: @Model.BreedName</p>
        <p>Display Name: @Model.DisplayName</p>
        <p>Activity Level: @Model.ActivityLevel</p>
        <p>Shedding Level: @Model.SheddingLevel</p>
        <p>Grooming Level: @Model.GroomingLevel</p>
        <p>Intelligence Level: @Model.IntelligenceLevel</p>
        <p>Good With Children: @Model.GoodWithChildren</p>
        <p>Drools: @Model.Drools</p>
        <p>Coat Length: @Model.Coatlength</p>
        <p>Size: @Model.Size</p>
    </div>
</body>
</html>
